<%= lato_page_head I18n.t('lato_users.add_user'), [
  { label: I18n.t('lato_users.users'), path: lato_users.users_path },
  { label: I18n.t('lato_users.add_user') }
] %>

<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0"><%= I18n.t('lato_users.add_user') %></h2>
  </div>
  <div class="card-body">
    <%= render 'lato_users/users/form', user: @user %>
  </div>
</div>